body{
    margin: auto;
    padding: 40px;
    width: 30%;
    font-family: 'Inter', sans-serif;
}
@font-face {
    font-family: 'Inter';
    src: url('đường_dẫn_đến_tệp_font/inter.woff2') format('woff2'),
         url('đường_dẫn_đến_tệp_font/inter.woff') format('woff');
    /* Nếu muốn hỗ trợ thêm các định dạng font khác, bạn có thể thêm vào đây */
    font-weight: normal; /* Trọng lượng phông chữ */
    font-style: normal; /* Kiểu phông chữ */
  }
h1{
    margin-left: 50px;
    color: #8b652a;
}
.all{
    text-align: center;
    background-color: #b9b8b7;
    padding:  10px;
}
.form{
    display: grid;
    grid-template-columns:  1fr 1fr;
}
.form img{
    width: 60%;
    height: 70%;  
    margin-left: 10px;
}
.form form input{
    width: 60%;
    padding: 10px;
    margin-top: 5%;
}
.form form {
    margin-left: -50%;
}
.form form i {
    margin-right: 2%;
}
.ghinho{
    margin-top: -3%;
    margin-left: -30%;
}
.ghinho span{
    margin-left: -28%;
}
.ghinho a{
    margin-left: 145px;
    text-decoration: none;
}
.all button{
    margin-top: -2%;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: blue;
}